body {
  font: 1.5em Helvetica, Verdana, sans-serif;
}
body,
thead {
  background-color: #14213d;
}

h1 {
  padding: 0.5em;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  background-color: #fca311;
  padding: 0.25em;
  margin: 0;
  border-radius: 10px 45px 0 0;
}

th {
  width: 5%;
}

thead {
  color: white;
}

table,
td {
  background-color: white;
  border-collapse: collapse;
  border: 1px solid #000000;
}

/* Classes */

.input-field {
  margin: 0.2em;
}

/* IDs */

#app-wrapper {
  background-color: #e5e5e5;
  margin: auto;
  width: 90%;
}

#form-wrapper,
#table-wrapper {
  padding-top: 0;
  margin: auto;
  width: 75%;
  border: 2px solid #fca311;
  border-radius: 15px 50px;
}

#first-name-input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#last-name-input {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#employee-id-input {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#employee-title-input {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#annual-salary-input {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#submit-employee-info-button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin: 0.5em auto;
}

#input-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.5em 1.5em;
  padding: 1em;
}
